* {
  margin: 0;
  padding: 0;
}
header img{
  width: 100%;
}
.cart {
  position: relative;
  top: -100px;
  left: 30%;
  width: 35%;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 15px;
}
.head{
  display: flex;
 padding: 25px;
}
.head h2 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
}
.item{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.answer{
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.answer p{
  color: gray;
  font-size: 15px;
}
.plusIcon, .minusIcon {
  cursor: pointer;
}

.plusIcon {
  display: block;
}

.minusIcon {
  display: none;
}

.item.active .answer {
  display: block;
}

.item.active .plusIcon {
  display: none;
}

.item.active .minusIcon {
  display: block;
}