* {
  margin: 0;
  padding: 0;
}
#log-in {
  position: relative;
  top: 100px;
  left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 50%;
  background-color: blanchedalmond;
  border-radius: 10px;
}
.text {
  padding: 50px;
}
.text h1 {
  font-size: 50px;
  font-weight: bold;
}
.text h1,
p,
span {
  margin-bottom: 30px;
}
.item span {
  display: inline;
  justify-content: start;
}
.text .box {
  margin-top: 40px;
}
.box span,
input,
button {
  margin-top: 10px;
}

.box input,
button {
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 5px;
}

.image {
  padding: 30px;
}

/******** */
#msg {
  position: relative;
  top: 200px;
  left: 550px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25%;
  border-radius: 10px;
  background-color: rgb(255, 245, 233);
}
#cart {
  padding: 50px;
}
#cart h2 {
  color: rgb(22, 22, 139);
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}
#cart p {
  margin-top: 20px;
  font-size: 16px;
}
#cart .email {
  font-weight: bold;
}
#cart svg {
  width: 50px;
  height: 50px;
}
#cart button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background: rgb(22, 22, 139);
  color: white;
}
