* {
  margin: 0;
  padding: 0;
}
#box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
#box p {
  font-size: 15px;
}
#box input {
  width: 70px;
  padding: 10px;
  margin-right: 30px;
}
hr {
  width: 100%;
}
svg {
  position: relative;
  bottom: 30px;
  left: 75%;
  border: 1px solid rgb(124, 23, 186);
  border-radius: 100%;
  padding: 10px;
  background-color: rgb(124, 23, 186);
  color: white;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  padding: 50px;
}

@media (max-width: 375px) {
  #box {
    margin-left: 30px;
  }
  svg {
    position: relative;
    left: 40%;
  }
}
